{% extends "base.html" %}
{% block container %}
      <form action="{{ url_for('atualizar') }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <input type="hidden" name="id" value="{{ receita.id }}">
          <div class="mt-3 form-group">
            <label class="fw-lighter" for="nome">Nome</label>
            <input type="text" id="nome" name="nome" value="{{ receita.nome }}" class="form-control mt-1 fw-lighter">
          </div>
          <div class="row">
            <div class="mt-3 mb-3 col">
              <label class="fw-lighter" for="ingrediente">Ingredientes</label>
              <textarea rows="10" id="ingrediente" name="ingrediente" class="form-control mt-1 fw-lighter">{{ receita.ingrediente }}</textarea>
            </div>
            <div class="mt-3 mb-3 col">
              <label class="fw-lighter" for="modo_preparo">Modo de Preparo</label>
              <textarea rows="10" id="modo_preparo" name="modo_preparo" class="form-control mt-1 fw-lighter">{{ receita.modo_preparo }}</textarea>
            </div>
          </div>
          <div class="mb-3 form-group">
            <label class="fw-lighter" for="autor">Autor</label>
            <input type="text" id="autor" name="autor" value="{{ receita.autor }}" class="form-control mt-1 fw-lighter">
          </div>
          <div class="mb-3 form-group">
            <label class="fw-lighter" for="capa">Capa</label>
            <input type="file" id="capa" name="capa" value="{{ capa_receita }}" accept=".jpg" class="form-control mt-1 fw-lighter">
          </div>
          <button type="submit" class="btn btn-sm btn-salvar mt-3 ps-3 pe-3 fw-lighter" style="background-image: linear-gradient( to left, #0dcaf0, #19B); color: #fff;">Salvar</button> 
        </fieldset>
      </form>
{% endblock %}
